doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='styleSheet', href='/stylesheets/bootstrap.min.css')
  body
    script(src='/socket.io/socket.io.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js')
    script(src='../public/javascripts/client.js')
    block content